html, body, header, strong, nav, div, h1, h2, h3, table, img, p, a{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(216, 239, 247) !important;
}



header{
    background-color: #0DCAF0;
}

#contenedor1 img{
    padding-right: 15px;
}

#contenedor1 div div a{
    font-size: 20px;
    
}

#contenedor1 div a{
    font-size: 25px;
}

#contenedor2 div div img{
    padding-top: 20px;
    height: 330px;
}

#contenedor3{
    border: 3px solid cyan;
    text-align: center;
    padding-right: 5px;
    color: rgb(33, 32, 102);
    background-color: rgb(207, 203, 245);
}

#noticia1{
    border: 3px solid;
    width: 90%;
    padding: 20px;
    background-color: #c2c4d6;
}

#noticia1 img{
    height: 150px;
    width: 150px;
    border: 3px solid;
}

#noticia2 img{
    height: 150px;
    width: 150px;
    border: 3px solid;
}

#noticia2{
    border: 3px solid;
    width: 90%;
    padding: 20px;
    background-color: #c2c4d6;
}
#noticia3 img{
    height: 150px;
    width: 150px;
    border: 3px solid;
}

#noticia3{
    border: 3px solid;
    width: 90%;
    padding: 20px;
    background-color: #c2c4d6;
}
#contenedor4 #noticia1 a{
    font-size: 15px;
    padding-left: 25px;
}

#contenedor4 #noticia2 a{
    font-size: 15px;
    padding-left: 25px;
}

#contenedor4 #noticia3 a{
    font-size: 15px;
    padding-left: 25px;
}

#contenedor4{
    padding-left: 120px;
}

#contenedorinfo{
    width: 15%;
    padding-top: 15px;
}

footer{
    width: 80%;
    border: 2px solid blue;
}



#contenedor6 img{
    padding-right: 15px;
}

#contenedor6 div div a{
    font-size: 20px;
    
}

#contenedor6 div a{
    font-size: 25px;
}

#contenedor7 div div img{
    padding-top: 20px;
    height: 330px;
}






#formulario1{
    border: 3px solid blue;
    margin-left: 350px;
    margin-right: 350px;
    padding-top: 15px;
    padding-bottom: 15px;
}



#contenedor10 div div img{
    padding-top: 20px;
    height: 330px;
}